body {
 	background-image: url('../img/dwa-blu.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.information-list {
	font-size: 16px;
}

.know-title {
	font-size: 18px;
}

.container {width: 900px;}

.header-img { 	
	background-image: url('../img/dwa-header.png');
	background-repeat: no-repeat;
    background-position: center; 
    height: 675px;
    width: 100%;
}

.wave-img-fix-sml {
	width: 115px;
}

.big-year-graphic {
	width: 400px;
    margin-bottom: 20px;
}

.regulatory-img {
	background-image: url('../img/regulatory-information.png');
	background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px; 
    height: 200px;
    width: 100%;
}

.health-info-wave {
	position: absolute;
    margin-top: -320px;
    margin-left: 347px;
}

.health-img {
	background-image: url('../img/water.png');
	background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px; 
    height: 200px;
    width: 100%;
}

.contact-wave{
    position: absolute;
    margin-top: 50px;
    margin-left: 20px;
}

.board-text {
	padding: 20px;
}

.member {
	font-family: 'Marcellus', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
}

.member-first {
	 margin-top: 10px;
}

.member-title {
	color: #038aa3;
	font-weight: 600;
}

.center-text {
	text-align: center;
}

.directors {
	background: #fff;
}

.no-pad-right {
	padding-right: 0px;
}

.no-pad-left {
	padding-left: 0px;
}

.contact-us-logo {
	padding: 20px 20px 0px 20px;
}

.contact-us-info {
	margin: 30px;
	padding: 10px;
}

.desert-water-img{ 	
	background-image: url('../img/desert-water.png');
	background-repeat: no-repeat;
    background-position: 70% 50%; 
    height: 300px;
}

.contact-section {
	background: #fff;	
    width: 100%;
}

.contact-us {
	color: #038aa3;
	font-family: 'Kaushan Script', sans-serif;
	font-size: 20px;
}

.contact-section-logo-img { 	
    width: 100%;
}

.header-img-overlay{ 
	background: #038aa3;
    background: -webkit-linear-gradient(rgba(3,138,163,0.7), rgba(3,138,163,0.2));
    background: -o-linear-gradient(rgba(3,138,163,0.7), rgba(3,138,163,0.2));
    background: -moz-linear-gradient(rgba(3,138,163,0.7), rgba(3,138,163,0.2));
    background: linear-gradient(rgba(3,138,163,0.7), rgba(3,138,163,0.2));
    height: 675px;
    width: 300px;
    margin-left: 500px;
}

.board-of-directors {
	background: #a7a9ab;
	color: #fff;
	font-family: 'Kaushan Script', sans-serif;
	font-size: 34px;
	padding: 10px;
	margin-bottom: 0px;
	text-align: center;
}

.section-title {
	/*background: #a7a9ab;*/
	background: linear-gradient(90deg, #a7a9ab 98%, #00b8f1 2%);
	color: #fff;
	font-family: 'Kaushan Script', sans-serif;
	font-size: 34px;
	padding: 10px;
}

.section-title-date {
	color: #00b8f1;
	font-size: 24px;
    margin-right: 20px;
    margin-top: 40px;
    text-align: right;
}

.results-table {
	margin-bottom: 30px;
	width: 870px;;
}

.water-icons {
	margin: 2px;
	width: 100px;
}

.blue-section {
	box-shadow: -2px 2px 8px #888888;
	background: #0b6db6;
	color: #fff;
	padding: 20px;
}

.sub-title {
	color: #038aa3;
	font-size: 22px;
	padding: 20px;
}

.sig-name {
	color: #038aa3;
	font-size: 18px;
	margin-bottom: 0px;
}

.page-title {
	color: #fff;
	float: left;
	font-family: 'Kaushan Script', sans-serif;
	font-size: 24px;
	margin-top: -40px;
	padding: 5px;
	text-align: left;
}

.wave-div-title {
	background: url('../img/wave.png');
	background-repeat: repeat-x;
	margin-left: 10px;
	width: 90%;
	height: 10px;
}

.wave-div-bottom {
	background: url('../img/wave.png');
	background-repeat: repeat-x;
	margin-left: 100px;
	margin-top: 30px;
	width: 55%;
	height: 10px;
}

.wave-img-fix {
	width: 195px;
}


.info-section {
	background: #fff;
}

.section-text {
	padding: 10px;
	text-align: justify;
}

.section-text-left {
	padding: 10px;
	text-align: left;
}

.viewing-glass {
	width: 120px;
    margin: 30px;
}

.year {
	color: #fff;
	font-size: 130px;
	padding: 5px;
   -webkit-text-stroke-width: 3px;
   -webkit-text-stroke-color: #c8c8c8;
}

hr {
	border-top: 1px solid #fff;
    width: 280px;
}

.box-title {
	margin-left: 10px;
	height: 100px;
	width: 280px;
}

.saving-tips {
	background: #00adef;
    color: #fff;
    font-size: 12px;
    margin-left: -10px;
    padding: 10px;
    width: 100%;
    height: 130px;
}

.data-title {
	color: #0b6db6;
	font-size: 18px;
	margin-top: 20px;
	padding: 10px;
}

.big-year {
	color: #00adef;
}

.conservation-icons {
	width: 50px;
}

.green-line {
	background: #038aa3;
	position: absolute;
	width: 80%;
	height: 10px;
	margin-top: 20px;
}

.conservation-number {
    font-size: 16px;
    font-weight: 600;
    padding-left: 10px;
    text-align: left;
}

.conservation-banner {
	border: 4px solid #fff;
	margin-bottom: 20px;
	width: 100%;
}

.conservation-text {
    font-size: 11px;
    text-align: center;
}

.conservation-text-left {
    font-size: 11px;
    text-align: left;
}

.mandatory-restrictions {
	background: #0b6db6;
	color: #fff;
	padding: 10px;
}

.restrictions-text {
	font-size: 12px;
}

.restrictions-icon {
	width: 40px;
} 

.last-icon {
	clear: both;
	margin-top: 10px;
}

.last-icon-text {
	margin-top: 20px;
}

.questions {
	background: #4e4d4f;
	color: #fff;
	font-size: 16px;
	padding: 10px;
	text-align: center;
}

.questions a {
	color: #fff;
}

.water-quality {
	box-shadow: -2px 2px 8px #888888;
	background: #0b6db6;
	color: #fff;
	font-size: 12px;
	padding: 15px;
}

.water-quality-title {
	font-size: 20px;
}

.water-quality a {
	color: #fff;
}

.at-a-glance {
	margin-left: -30px;
	width: 620px;
}

.results-section {
	background: none;
	color: #fff;
}

.color-white {
	color: #fff;
}

.color-black {
	color: #000;
}

.question-box {
	background: #0b6db6;
    color: white;
    padding: 10px;
    box-shadow: -2px 2px 8px #888888;
}

.question-box-title {
	font-size: 18px;
}

.tip-fact {
	background: #87cefa;
	padding: 10px;
}

.question-break {
	margin-top: 5px;
    margin-bottom: 5px;
    border: none;
}

.trans-break {
    border: none;
}

.source-img {
	background-image: url('../img/river.png');
	background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px; 
    height: 400px;
    width: 100%;
}

.assesment-banner {
	background-image: url('../img/bannermc.png');
	background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px; 
    height: 100px;
    width: 100%;
}

.source-title {
	font-size: 20px;
}

.restrictions-border {
	border-right: 2px solid #fff;
}

.visit-text {
	clear: both;
	font-size: 13px;
    text-align: left;
}

.source-assesment {
	background: #00adef;
	color: #fff;
	padding: 15px;
}

.restrictions-title {
	font-size: 20px;
}

.restrictions-link {
	background: #eff2f2;
	color: #0b6db6;
	font-size: 13px;
	padding: 10px;
}

.supply-img-pipe {
	background-image: url('../img/supply-pipe.png');
	background-repeat: no-repeat;
    background-position: center; 
    height: 200px;
    width: 100%;
}

.supply-img-worker {
	background-image: url('../img/supply-worker.png');
	background-repeat: no-repeat;
    background-position: center; 
    height: 200px;
    width: 100%;
}

.river-rock-img {
	background-image: url('../img/river-rock.png');
	background-repeat: no-repeat;
    background-position: center; 
    height: 100px;
    width: 100%;
}

.leaks-img {
	background-image: url('../img/construction.png');
	background-repeat: no-repeat;
    background-position: center; 
    height: 250px;
    width: 100%;
}

.did-you-know {
	box-shadow: -2px 2px 8px #888888;
	background: #0b6db6;
	color: #fff;
	font-size: 14px;
	padding: 15px;
	padding-right: 0px;
	height: 480px;
	width: 100%;
}

.know-list {
	padding-left: 15px;
}

.know-heading {
	border-bottom: 2px solid #fff;
}

.align-justify {
	text-align: justify;
}

.blue-border-img {
	border: 6px solid #00adef;
	width: 130px;
}

.align-left {
	text-align: left;
}

.supply-title {
	color: #038aa3;
	font-size: 18px;
	font-weight: 600;
}

.glossary-title {
	color: #038aa3;
	font-size: 18px;
	font-weight: 600;
	padding: 10px;
}

.supply-highlight {
	background: #e6e7e8;
	color: #038aa3;
	font-size: 16px;
	padding: 15px;
}

.fa-arrow-right {
	color: #fff;
}

.dwa-logo {
	padding-top: 180px;
    margin-left: 50px;
}

.desert-water-sml {
	width: 160px;
}

.mark-signature {
	border-bottom: 2px solid black;
	width: 180px;
}

.questions-bottom-fix {
	margin-bottom: -10px;
}

.glossary-section {
	font-size: 12px;
}

.spanish-text {
	padding: 10px;
	background: #dedfe0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.facebook a {
	background: #038aa3;
	border-radius: 50%;
	color: white;
	float: left;
	margin-left: 20px;
    padding: 5px;
    padding-left: 10px;
    width: 40px;
    -webkit-transition: background 0.5s ease-out;
    -moz-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;
}

.twitter a {
	background: #038aa3;
	border-radius: 50%;
	color: white;
	float: left;
	margin-left: 10px;
    padding: 5px;
    padding-left: 7px;
    width: 40px;
    -webkit-transition: background 0.5s ease-out;
    -moz-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;
}

.nextdoor a {
	background: #038aa3;
	border-radius: 50%;
	color: white;
	float: left;
	margin-left: 10px;
    padding: 5px;
    padding-left: 7px;
    width: 40px;
    -webkit-transition: background 0.5s ease-out;
    -moz-transition: background 0.5s ease-out;
    -o-transition: background 0.5s ease-out;
    transition: background 0.5s ease-out;
}

.facebook a:hover {
	background: #3B5998;
}

.twitter a:hover {
	background: #55acee;
}

.nextdoor a:hover {
	background: #1e9e5e;
}

.nextdoor {
    margin-left: 10px;
    margin-top: 10px;
    width: 150px;
    -webkit-transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
}

a img:hover {
	opacity: 0.5;
}